{"openapi":"3.1.0","info":{"title":"EarthScope API (Beta) Documentation","description":"![EarthScope Facility Logo](https://www.earthscope.org/app/uploads/2024/01/gage_sage_primary_color.svg)\n\nWelcome to the EarthScope Consortium API documentation. \n\nOur API is intended for programmatic access to NSF GAGE and SAGE Facilities' data and metadata. This API can be used with command line tools for automating data access, e.g., **cURL** and **Wget**, and can be directly incorporated into your programs to fetch data. \n\nOur API also powers our online tools for data discovery and access. The dynamic OpenAPI documentation presented here allows you to easily try our API. However, the \"try it out\" forms in these docs are not intended as the primary interface for regular usage.\n\nAuthentication is required to use GAGE and SAGE services, please see the [Authentication](#authentication) section below.\n\n## <a id=\"versions\"></a> Versions\nThe following versions of the EarthScope API have been released:\n- [beta](/beta/docs)\n\n##  <a id=\"authentication\"></a> Authentication\nOur API requires registration and authentication for reporting anonymized usage metrics to our sponsors. \n1. [Register and login](https://www.earthscope.org/user/) - [See detailed instructions](https://www.unavco.org/data/gps-gnss/file-server/user-profile.html).\n2. Pass your authentication/access token in an Authorization header along with your API request. [See detailed instructions](https://www.unavco.org/data/gps-gnss/file-server/file-server-access-examples.html).\n\nPlease see [Authentication](https://www.earthscope.org/data/authentication).\n\n##  <a id=\"policies\"></a> Policies\nAccess and use of EarthScope's NSF GAGE and NSF SAGE Facility data is governed by the following policies.\n### <a id=\"data-policies\"></a> Data Policies\n- [GAGE Data Policy](https://www.unavco.org/data/policies_forms/data-policy/data-policy.html)\n- [SAGE Data Policy](https://ds.iris.edu/ds/docs/)\n- [EarthScope Privacy Policy](https://www.earthscope.org/privacy-policy/)\n- [EarthScope Terms of Service](https://www.earthscope.org/terms-of-service/)\n\n### <a id=\"versioning\"></a> Versioning\nThe versioning protocol adopted by the NSF GAGE and SAGE Facilities, operated by EarthScope Consortium, applies to each release of a collection of individual web services, collectively referred to as the EarthScope API. An API version is identified by  the first node of the path following the host name, e.g.,  `api.earthscope.org/beta`, or `api.earthscope.org/v1`, where `beta` indicates a pre-production release and `v1` is the serialized production release version.\n\nThe EarthScope API uses [Semantic Versioning](https://semver.org/) to designate specific releases of an API. We increment the API major version whenever we introduce breaking changes. Internally, we use minor and patch versions whenever we add functionality and backward-compatible updates. When we release a new major version of the EarthScope API, clients can choose to either continue using a supported (see our [deprecation policy](#deprecation)) existing major version or migrate to the new one. Here forward, we simply use “version” to refer to our major version releases.\n\nVersions will either be `beta` to indicate pre-production releases or `v1` for specific production version releases, where the number increments, e.g., `v1` to `v2` with each major release. Endpoints identified as `beta` are subject to change \"in place\" without notification and should not be used in critical production systems.\n\nThe following points describe what kinds of changes result in an updated version:\n- A URL path is never really changed; if such a modification is required, the original service path will be [deprecated](#deprecation) and a new one created with a version identifier of `beta` or it's version number incremented.\n- A change to the internal process of an existing web service will not result in an updated version.\n- A non-backward compatible change to the output produced by an existing web service will result in an updated version.\n- The addition of a new, optional, query parameter will not result in a new version and the default value of the query parameter will be set so that the web service will behave as previously if the new parameter is not specified.\n- The addition of a new, required parameter or a change in formatting of parameter values will result in an updated version.\n\n### <a id=\"deprecation\"></a> Deprecation\n  - API version deprecation (end of life) will be announced publicly via our [Data Announcements](https://groups.google.com/a/earthscope.org/g/data-announcements) email list.\n  - Deprecated services will be labelled “Deprecated” in the respective online API documentation.\n  - Deprecated services will be retired and removed from our documentation after a period of time to be determined in the deprecation announcement. The deprecation period is intended to allow users time to migrate to newer supported versions of our API.\n","version":"beta","contact":{"email":"data-help@earthscope.org","name":"EarthScope Data Help Desk","url":"https://support.center.earthscope.org"}},"servers":[{"url":"https://api.earthscope.org/beta","description":"EarthScope public API"}],"externalDocs":{"url":"https://www.earthscope.org/","description":"EarthScope home page"},"tags":[{"name":"User","x-displayName":"User","description":"User Profile"},{"name":"Discover","x-displayName":"Discover","description":"Discover Sources of Data"},{"name":"GNSS Products","x-displayName":"GNSS Data Products","description":"GNSS/GPS Data Products"},{"name":"Data Contribution","x-displayName":"Data Contribution","description":"Data Contribution"}],"paths":{"/dropoff/{category}/status":{"get":{"tags":["Data Contribution"],"summary":"Dropoff Status","description":"This endpoint returns a detailed history of all activity for the submitted\n             file (up to 100 per page). This can include activity from multiple attempts\n             to upload the file.  You can use the request parameters as selection criteria\n             to return a subset of the history.","operationId":"dropoff_status","security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}],"parameters":[{"name":"category","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Category"}},{"name":"key","in":"query","required":true,"schema":{"type":"string","description":"Key to get submission history of","title":"Key"},"description":"Key to get submission history of"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Starting index from results list","default":0,"title":"Offset"},"description":"Starting index from results list"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Number of results to return","default":10,"title":"Limit"},"description":"Number of results to return"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDropoffItems"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/dropoff/{category}":{"get":{"tags":["Data Contribution"],"summary":"Dropoff List","description":"This endpoint returns summary information for some or all (up to 100 per page)\n             of the objects you've submitted to EarthScope previously, and the status of\n             their processing and acceptance. You can use the request parameters as\n             selection criteria to return a subset of the objects","operationId":"dropoff_list","security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}],"parameters":[{"name":"category","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Category"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Starting index from results list","default":0,"title":"Offset"},"description":"Starting index from results list"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"description":"Number of results to return","default":10,"title":"Limit"},"description":"Number of results to return"},{"name":"prefix","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Only return keys that start with this string","title":"Prefix"},"description":"Only return keys that start with this string"},{"name":"submitted_after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Only return items created at or after this ISO timestamp. Example: '2026-01-01T00:00:00Z'","title":"Submitted After"},"description":"Only return items created at or after this ISO timestamp. Example: '2026-01-01T00:00:00Z'"},{"name":"submitted_before","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Only return items created before this ISO timestamp. Example: '2026-01-01T00:00:00Z'","title":"Submitted Before"},"description":"Only return items created before this ISO timestamp. Example: '2026-01-01T00:00:00Z'"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Status"},{"type":"null"}],"description":"Only return items with this status. Example: 'RECEIVED'","title":"Status"},"description":"Only return items with this status. Example: 'RECEIVED'"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDropoffItems"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/dropoff/{category}/summary":{"get":{"tags":["Data Contribution"],"summary":"Dropoff Summary","description":"This endpoint returns a count of all of the objects you've submitted to EarthScope\n             previously, grouped by status. You can use the request parameters as selection criteria\n             to return a subset of the objects","operationId":"dropoff_summary","security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}],"parameters":[{"name":"category","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Category"}},{"name":"prefix","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Only count keys that start with this string","title":"Prefix"},"description":"Only count keys that start with this string"},{"name":"submitted_after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Only count items created at or after this ISO timestamp. Example: '2026-01-01T00:00:00Z'","title":"Submitted After"},"description":"Only count items created at or after this ISO timestamp. Example: '2026-01-01T00:00:00Z'"},{"name":"submitted_before","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Only count items created before this ISO timestamp. Example: '2026-01-01T00:00:00Z'","title":"Submitted Before"},"description":"Only count items created before this ISO timestamp. Example: '2026-01-01T00:00:00Z'"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusSummaryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/discover/datasource/network":{"get":{"summary":"Find Network Datasources","description":"Find Network datasources","operationId":"find_network_datasources","parameters":[{"name":"network_name","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["PERM:NOTA Core"],"format":"dsname"},"maxItems":100,"description":"Network name(s)\n\nIt is recommended to specify fully-qualified network names including namespace.\n\n| **Namespace** | **Example**      | **Description**                                          |\n| ------------- | ---------------- | -------------------------------------------------------- |\n| `BSM`         | `BSM:NOTA`       | Borehole strainmeter network name                        |\n| `FDSN`        | `FDSN:PB`        | FDSN Source Identifier network name                      |\n| `PERM`        | `PERM:NOTA Core` | 'Permanent' network name from legacy Archive DB sets     |\n| `RTDB`        | `RTDB:PBO`       | 'Realtime' network name from legacy Realtime DB projects |\n| `SHAKE`       | `SHAKE:NOTA`     | ShakeAlert network name                                  |\n","default":[],"title":"Network Name"},"description":"Network name(s)\n\nIt is recommended to specify fully-qualified network names including namespace.\n\n| **Namespace** | **Example**      | **Description**                                          |\n| ------------- | ---------------- | -------------------------------------------------------- |\n| `BSM`         | `BSM:NOTA`       | Borehole strainmeter network name                        |\n| `FDSN`        | `FDSN:PB`        | FDSN Source Identifier network name                      |\n| `PERM`        | `PERM:NOTA Core` | 'Permanent' network name from legacy Archive DB sets     |\n| `RTDB`        | `RTDB:PBO`       | 'Realtime' network name from legacy Realtime DB projects |\n| `SHAKE`       | `SHAKE:NOTA`     | ShakeAlert network name                                  |\n"},{"name":"network_edid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":26,"maxLength":26,"examples":["01FZDXP6X8BJRS2EA7PQEDHET3"],"format":"ulid","title":"ULID"},"maxItems":100,"description":"Network EDID(s)","default":[],"title":"Network Edid"},"description":"Network EDID(s)"},{"name":"with_edid_only","in":"query","required":false,"schema":{"type":"boolean","description":"Overrides all other projection properties to only return the datasource EDID(s)","default":false,"title":"With Edid Only"},"description":"Overrides all other projection properties to only return the datasource EDID(s)"},{"name":"with_parents","in":"query","required":false,"schema":{"type":"boolean","description":"Include this datasource's parent(s) in the response model","default":false,"title":"With Parents"},"description":"Include this datasource's parent(s) in the response model"},{"name":"with_parent_edids","in":"query","required":false,"schema":{"type":"boolean","description":"Include this datasource's parents' EDIDs in the response model","default":false,"title":"With Parent Edids"},"description":"Include this datasource's parents' EDIDs in the response model"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Pagination size limit","default":50,"title":"Limit"},"description":"Pagination size limit"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Pagination start offset","default":0,"title":"Offset"},"description":"Pagination start offset"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/PublicPage_PublicNetworkDatasource_"},{"$ref":"#/components/schemas/PublicPage_Annotated_ULID___UlidPydanticAnnotation__"}],"title":"Response Default-Find Networks"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError1"}}}}},"tags":["Discover"],"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/discover/datasource/station":{"get":{"summary":"Find Station Datasources","description":"Find Station datasources","operationId":"find_station_datasources","parameters":[{"name":"station_name","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["IGS:P14600USA"],"format":"dsname"},"maxItems":100,"description":"Station name(s).\n\nIt is recommended to specify fully-qualified station names including namespace.\nIf a namespace is not specified, then it is guessed based on the length of\nthe name you submit.\n\n| **Namespace** | **Example**     | **Description**                                    | **Notes**                         |\n| ------------- | --------------- | -------------------------------------------------- | --------------------------------- |\n| `FDSN`        | `FDSN:PB_B207`  | FDSN Source Identifier station name                |                                   |\n| `IGS`         | `IGS:P14600USA` | IGS 9-character GNSS station naming scheme         |                                   |\n| `4CHARID`     | `4CHARID:P146`  | traditional 4-character GNSS station naming scheme | **DEPRECATED**: prefer `IGS` name |\n","default":[],"title":"Station Name"},"description":"Station name(s).\n\nIt is recommended to specify fully-qualified station names including namespace.\nIf a namespace is not specified, then it is guessed based on the length of\nthe name you submit.\n\n| **Namespace** | **Example**     | **Description**                                    | **Notes**                         |\n| ------------- | --------------- | -------------------------------------------------- | --------------------------------- |\n| `FDSN`        | `FDSN:PB_B207`  | FDSN Source Identifier station name                |                                   |\n| `IGS`         | `IGS:P14600USA` | IGS 9-character GNSS station naming scheme         |                                   |\n| `4CHARID`     | `4CHARID:P146`  | traditional 4-character GNSS station naming scheme | **DEPRECATED**: prefer `IGS` name |\n"},{"name":"station_edid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":26,"maxLength":26,"examples":["01FZDXP6X8BJRS2EA7PQEDHET3"],"format":"ulid","title":"ULID"},"maxItems":100,"description":"Station EDID(s)","default":[],"title":"Station Edid"},"description":"Station EDID(s)"},{"name":"network_name","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["PERM:NOTA Core"],"format":"dsname"},"maxItems":100,"description":"Network name(s)\n\nIt is recommended to specify fully-qualified network names including namespace.\n\n| **Namespace** | **Example**      | **Description**                                          |\n| ------------- | ---------------- | -------------------------------------------------------- |\n| `BSM`         | `BSM:NOTA`       | Borehole strainmeter network name                        |\n| `FDSN`        | `FDSN:PB`        | FDSN Source Identifier network name                      |\n| `PERM`        | `PERM:NOTA Core` | 'Permanent' network name from legacy Archive DB sets     |\n| `RTDB`        | `RTDB:PBO`       | 'Realtime' network name from legacy Realtime DB projects |\n| `SHAKE`       | `SHAKE:NOTA`     | ShakeAlert network name                                  |\n","default":[],"title":"Network Name"},"description":"Network name(s)\n\nIt is recommended to specify fully-qualified network names including namespace.\n\n| **Namespace** | **Example**      | **Description**                                          |\n| ------------- | ---------------- | -------------------------------------------------------- |\n| `BSM`         | `BSM:NOTA`       | Borehole strainmeter network name                        |\n| `FDSN`        | `FDSN:PB`        | FDSN Source Identifier network name                      |\n| `PERM`        | `PERM:NOTA Core` | 'Permanent' network name from legacy Archive DB sets     |\n| `RTDB`        | `RTDB:PBO`       | 'Realtime' network name from legacy Realtime DB projects |\n| `SHAKE`       | `SHAKE:NOTA`     | ShakeAlert network name                                  |\n"},{"name":"network_edid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":26,"maxLength":26,"examples":["01FZDXP6X8BJRS2EA7PQEDHET3"],"format":"ulid","title":"ULID"},"maxItems":100,"description":"Network EDID(s)","default":[],"title":"Network Edid"},"description":"Network EDID(s)"},{"name":"with_edid_only","in":"query","required":false,"schema":{"type":"boolean","description":"Overrides all other projection properties to only return the datasource EDID(s)","default":false,"title":"With Edid Only"},"description":"Overrides all other projection properties to only return the datasource EDID(s)"},{"name":"with_parents","in":"query","required":false,"schema":{"type":"boolean","description":"Include this datasource's parent(s) in the response model","default":false,"title":"With Parents"},"description":"Include this datasource's parent(s) in the response model"},{"name":"with_parent_edids","in":"query","required":false,"schema":{"type":"boolean","description":"Include this datasource's parents' EDIDs in the response model","default":false,"title":"With Parent Edids"},"description":"Include this datasource's parents' EDIDs in the response model"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Pagination size limit","default":50,"title":"Limit"},"description":"Pagination size limit"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Pagination start offset","default":0,"title":"Offset"},"description":"Pagination start offset"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/PublicPage_PublicStationDatasource_"},{"$ref":"#/components/schemas/PublicPage_Annotated_ULID___UlidPydanticAnnotation__"}],"title":"Response Default-Find Stations"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError1"}}}}},"tags":["Discover"],"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/discover/datasource/session":{"get":{"summary":"Find Session Datasources","description":"Find Session datasources","operationId":"find_session_datasources","parameters":[{"name":"session_name","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["DATAFLOW:A"],"format":"dsname"},"maxItems":100,"description":"Session name(s).\n\nIt is recommended to specify fully-qualified session names including namespace.\nIf a namespace is not specified, then it is assumed to be `DATAFLOW`.\n\n| **Namespace** | **Example**                | **Description**                    |\n| ------------- | -------------------------- | -----------------------------------|\n| `DATAFLOW`    | `DATAFLOW:A`, `DATAFLOW:M` | EarthScope data-flow naming scheme |\n\n---\n\nCommon session names and their meanings:\n\n| Type   | Name             | Sample Interval | File Roll Period | Description                                                  |\n| ------ | ---------------- | --------------- | ---------------- | ------------------------------------------------------------- |\n| GNSS   | `DATAFLOW:A`     | 15s             | 24h (86,400s)    | 15-second, daily GNSS observations file (receiver download)   |\n| GNSS   | `DATAFLOW:B`     | 1s              |  1h  (3,600s)    | 1-second, hourly GNSS observations file (receiver download)   |\n| GNSS   | `DATAFLOW:C`     | 5Hz             |  1h  (3,600s)    | 5Hz, hourly GNSS observations file (receiver download)        |\n| GNSS   | `DATAFLOW:F`     | 1s              |  1h  (3,600s)    | 1-second, hourly GNSS observations file (receiver download)   |\n| GNSS   | `DATAFLOW:M`     | 15s             |  1h  (3,600s)    | 15-second, hourly GNSS observations file (receiver download)  |\n| GNSS   | `DATAFLOW:R`     | 1s              |  1h  (3,600s)    | 1-second, hourly GNSS observations file (realtime stream)     |\n| Strain | `DATAFLOW:Day`   | 10m             | 24h (86,400s)    | 10-minute, daily strain file                                  |\n| Strain | `DATAFLOW:Hour`  | 1s              |  1h  (3,600s)    | 1-second, hourly strain file                                  |\n| Strain | `DATAFLOW:Min`   | 20Hz            |  1h  (3,600s)    | 20Hz, hourly strain file                                      |\n","default":[],"title":"Session Name"},"description":"Session name(s).\n\nIt is recommended to specify fully-qualified session names including namespace.\nIf a namespace is not specified, then it is assumed to be `DATAFLOW`.\n\n| **Namespace** | **Example**                | **Description**                    |\n| ------------- | -------------------------- | -----------------------------------|\n| `DATAFLOW`    | `DATAFLOW:A`, `DATAFLOW:M` | EarthScope data-flow naming scheme |\n\n---\n\nCommon session names and their meanings:\n\n| Type   | Name             | Sample Interval | File Roll Period | Description                                                  |\n| ------ | ---------------- | --------------- | ---------------- | ------------------------------------------------------------- |\n| GNSS   | `DATAFLOW:A`     | 15s             | 24h (86,400s)    | 15-second, daily GNSS observations file (receiver download)   |\n| GNSS   | `DATAFLOW:B`     | 1s              |  1h  (3,600s)    | 1-second, hourly GNSS observations file (receiver download)   |\n| GNSS   | `DATAFLOW:C`     | 5Hz             |  1h  (3,600s)    | 5Hz, hourly GNSS observations file (receiver download)        |\n| GNSS   | `DATAFLOW:F`     | 1s              |  1h  (3,600s)    | 1-second, hourly GNSS observations file (receiver download)   |\n| GNSS   | `DATAFLOW:M`     | 15s             |  1h  (3,600s)    | 15-second, hourly GNSS observations file (receiver download)  |\n| GNSS   | `DATAFLOW:R`     | 1s              |  1h  (3,600s)    | 1-second, hourly GNSS observations file (realtime stream)     |\n| Strain | `DATAFLOW:Day`   | 10m             | 24h (86,400s)    | 10-minute, daily strain file                                  |\n| Strain | `DATAFLOW:Hour`  | 1s              |  1h  (3,600s)    | 1-second, hourly strain file                                  |\n| Strain | `DATAFLOW:Min`   | 20Hz            |  1h  (3,600s)    | 20Hz, hourly strain file                                      |\n"},{"name":"session_edid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":26,"maxLength":26,"examples":["01FZDXP6X8BJRS2EA7PQEDHET3"],"format":"ulid","title":"ULID"},"maxItems":100,"description":"Session EDID(s)","default":[],"title":"Session Edid"},"description":"Session EDID(s)"},{"name":"sample_interval","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SessionSampleInterval","description":"Session sample interval (in milliseconds)"},"description":"Session sample interval (in milliseconds)"},{"name":"roll","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SessionRollPeriod","description":"Session file roll period (in seconds)"},"description":"Session file roll period (in seconds)"},{"name":"station_name","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["IGS:P14600USA"],"format":"dsname"},"maxItems":100,"description":"Station name(s).\n\nIt is recommended to specify fully-qualified station names including namespace.\nIf a namespace is not specified, then it is guessed based on the length of\nthe name you submit.\n\n| **Namespace** | **Example**     | **Description**                                    | **Notes**                         |\n| ------------- | --------------- | -------------------------------------------------- | --------------------------------- |\n| `FDSN`        | `FDSN:PB_B207`  | FDSN Source Identifier station name                |                                   |\n| `IGS`         | `IGS:P14600USA` | IGS 9-character GNSS station naming scheme         |                                   |\n| `4CHARID`     | `4CHARID:P146`  | traditional 4-character GNSS station naming scheme | **DEPRECATED**: prefer `IGS` name |\n","default":[],"title":"Station Name"},"description":"Station name(s).\n\nIt is recommended to specify fully-qualified station names including namespace.\nIf a namespace is not specified, then it is guessed based on the length of\nthe name you submit.\n\n| **Namespace** | **Example**     | **Description**                                    | **Notes**                         |\n| ------------- | --------------- | -------------------------------------------------- | --------------------------------- |\n| `FDSN`        | `FDSN:PB_B207`  | FDSN Source Identifier station name                |                                   |\n| `IGS`         | `IGS:P14600USA` | IGS 9-character GNSS station naming scheme         |                                   |\n| `4CHARID`     | `4CHARID:P146`  | traditional 4-character GNSS station naming scheme | **DEPRECATED**: prefer `IGS` name |\n"},{"name":"station_edid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":26,"maxLength":26,"examples":["01FZDXP6X8BJRS2EA7PQEDHET3"],"format":"ulid","title":"ULID"},"maxItems":100,"description":"Station EDID(s)","default":[],"title":"Station Edid"},"description":"Station EDID(s)"},{"name":"network_name","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["PERM:NOTA Core"],"format":"dsname"},"maxItems":100,"description":"Network name(s)\n\nIt is recommended to specify fully-qualified network names including namespace.\n\n| **Namespace** | **Example**      | **Description**                                          |\n| ------------- | ---------------- | -------------------------------------------------------- |\n| `BSM`         | `BSM:NOTA`       | Borehole strainmeter network name                        |\n| `FDSN`        | `FDSN:PB`        | FDSN Source Identifier network name                      |\n| `PERM`        | `PERM:NOTA Core` | 'Permanent' network name from legacy Archive DB sets     |\n| `RTDB`        | `RTDB:PBO`       | 'Realtime' network name from legacy Realtime DB projects |\n| `SHAKE`       | `SHAKE:NOTA`     | ShakeAlert network name                                  |\n","default":[],"title":"Network Name"},"description":"Network name(s)\n\nIt is recommended to specify fully-qualified network names including namespace.\n\n| **Namespace** | **Example**      | **Description**                                          |\n| ------------- | ---------------- | -------------------------------------------------------- |\n| `BSM`         | `BSM:NOTA`       | Borehole strainmeter network name                        |\n| `FDSN`        | `FDSN:PB`        | FDSN Source Identifier network name                      |\n| `PERM`        | `PERM:NOTA Core` | 'Permanent' network name from legacy Archive DB sets     |\n| `RTDB`        | `RTDB:PBO`       | 'Realtime' network name from legacy Realtime DB projects |\n| `SHAKE`       | `SHAKE:NOTA`     | ShakeAlert network name                                  |\n"},{"name":"network_edid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":26,"maxLength":26,"examples":["01FZDXP6X8BJRS2EA7PQEDHET3"],"format":"ulid","title":"ULID"},"maxItems":100,"description":"Network EDID(s)","default":[],"title":"Network Edid"},"description":"Network EDID(s)"},{"name":"with_edid_only","in":"query","required":false,"schema":{"type":"boolean","description":"Overrides all other projection properties to only return the datasource EDID(s)","default":false,"title":"With Edid Only"},"description":"Overrides all other projection properties to only return the datasource EDID(s)"},{"name":"with_parents","in":"query","required":false,"schema":{"type":"boolean","description":"Include this datasource's parent(s) in the response model","default":false,"title":"With Parents"},"description":"Include this datasource's parent(s) in the response model"},{"name":"with_parent_edids","in":"query","required":false,"schema":{"type":"boolean","description":"Include this datasource's parents' EDIDs in the response model","default":false,"title":"With Parent Edids"},"description":"Include this datasource's parents' EDIDs in the response model"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Pagination size limit","default":50,"title":"Limit"},"description":"Pagination size limit"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Pagination start offset","default":0,"title":"Offset"},"description":"Pagination start offset"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/PublicPage_PublicSessionDatasource_"},{"$ref":"#/components/schemas/PublicPage_Annotated_ULID___UlidPydanticAnnotation__"}],"title":"Response Default-Find Sessions"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError1"}}}}},"tags":["Discover"],"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/discover/datasource/stream":{"get":{"summary":"Find Stream Datasources","description":"Find Stream datasources","operationId":"find_stream_datasources","parameters":[{"name":"stream_name","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["GEOSNCL:P146.PB.LY_.00"],"format":"dsname"},"maxItems":100,"description":"Stream name(s).\n\nIt is recommended to specify fully-qualified stream names including namespace.\nIf a namespace is not specified, then it is guessed based on the input.\n\n| **Namespace** | **Example**                      | **Description**                               |\n| ------------- | -------------------------------- | --------------------------------------------- |\n| `GEOSNCL`     | `GEOSNCL:P146.PB.LY_.00`         | ShakeAlert GNSS position stream naming scheme |\n| `SN`          | `SN:P146.RAW.EARTHSCOPE.1HZ`     | EarthScope descriptive stream naming scheme   |\n","default":[],"title":"Stream Name"},"description":"Stream name(s).\n\nIt is recommended to specify fully-qualified stream names including namespace.\nIf a namespace is not specified, then it is guessed based on the input.\n\n| **Namespace** | **Example**                      | **Description**                               |\n| ------------- | -------------------------------- | --------------------------------------------- |\n| `GEOSNCL`     | `GEOSNCL:P146.PB.LY_.00`         | ShakeAlert GNSS position stream naming scheme |\n| `SN`          | `SN:P146.RAW.EARTHSCOPE.1HZ`     | EarthScope descriptive stream naming scheme   |\n"},{"name":"stream_edid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":26,"maxLength":26,"examples":["01FZDXP6X8BJRS2EA7PQEDHET3"],"format":"ulid","title":"ULID"},"maxItems":100,"description":"Stream EDID(s)","default":[],"title":"Stream Edid"},"description":"Stream EDID(s)"},{"name":"stream_type","in":"query","required":false,"schema":{"$ref":"#/components/schemas/StreamType","description":"What type of stream is this?\n\n\n|Value|Description|\n|-|-|\n|`gnss_ppp`|GNSS precise point position stream|\n|`gnss_raw`|GNSS raw data stream (normally BINEX or RTCM)|\n|`gnss_tdcp`|GNSS TDCP velocity stream|\n"},"description":"What type of stream is this?\n\n\n|Value|Description|\n|-|-|\n|`gnss_ppp`|GNSS precise point position stream|\n|`gnss_raw`|GNSS raw data stream (normally BINEX or RTCM)|\n|`gnss_tdcp`|GNSS TDCP velocity stream|\n"},{"name":"facility","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Facility","description":"From which facility did this stream originate?\n\n\n|Value|Description|\n|-|-|\n|`caltech`|California Institute of Technology|\n|`csn`|Centro Sismológico Nacional, Universidad de Chile|\n|`cwu`|Central Washington University|\n|`earthscope`|EarthScope Consortium|\n|`igepn`|El Instituto Geofísico de la Escuela Politécnica Nacional|\n|`ineter`|Instituto Nicaragüense de Estudios Territoriales|\n|`ncgn`|Northern California Geodetic Network|\n|`sgc`|Servicio Geológico Colombiano|\n|`ucb`|UC Berkeley|\n|`ucsb`|UC Santa Barbara|\n|`unknown`|Unknown facility|\n|`usgs_csrc`|USGS California Spatial Reference Center|\n|`usgs_menlo_park`|USGS Menlo Park|\n|`usgs_pasadena`|USGS Pasadena|\n"},"description":"From which facility did this stream originate?\n\n\n|Value|Description|\n|-|-|\n|`caltech`|California Institute of Technology|\n|`csn`|Centro Sismológico Nacional, Universidad de Chile|\n|`cwu`|Central Washington University|\n|`earthscope`|EarthScope Consortium|\n|`igepn`|El Instituto Geofísico de la Escuela Politécnica Nacional|\n|`ineter`|Instituto Nicaragüense de Estudios Territoriales|\n|`ncgn`|Northern California Geodetic Network|\n|`sgc`|Servicio Geológico Colombiano|\n|`ucb`|UC Berkeley|\n|`ucsb`|UC Santa Barbara|\n|`unknown`|Unknown facility|\n|`usgs_csrc`|USGS California Spatial Reference Center|\n|`usgs_menlo_park`|USGS Menlo Park|\n|`usgs_pasadena`|USGS Pasadena|\n"},{"name":"software","in":"query","required":false,"schema":{"$ref":"#/components/schemas/StreamSoftware","description":"What software created this stream?"},"description":"What software created this stream?"},{"name":"label","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Free-form string label for the stream","title":"Label"},"description":"Free-form string label for the stream"},{"name":"sample_interval","in":"query","required":false,"schema":{"$ref":"#/components/schemas/StreamSampleInterval","description":"Stream sample interval (in milliseconds)"},"description":"Stream sample interval (in milliseconds)"},{"name":"station_name","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["IGS:P14600USA"],"format":"dsname"},"maxItems":100,"description":"Station name(s).\n\nIt is recommended to specify fully-qualified station names including namespace.\nIf a namespace is not specified, then it is guessed based on the length of\nthe name you submit.\n\n| **Namespace** | **Example**     | **Description**                                    | **Notes**                         |\n| ------------- | --------------- | -------------------------------------------------- | --------------------------------- |\n| `FDSN`        | `FDSN:PB_B207`  | FDSN Source Identifier station name                |                                   |\n| `IGS`         | `IGS:P14600USA` | IGS 9-character GNSS station naming scheme         |                                   |\n| `4CHARID`     | `4CHARID:P146`  | traditional 4-character GNSS station naming scheme | **DEPRECATED**: prefer `IGS` name |\n","default":[],"title":"Station Name"},"description":"Station name(s).\n\nIt is recommended to specify fully-qualified station names including namespace.\nIf a namespace is not specified, then it is guessed based on the length of\nthe name you submit.\n\n| **Namespace** | **Example**     | **Description**                                    | **Notes**                         |\n| ------------- | --------------- | -------------------------------------------------- | --------------------------------- |\n| `FDSN`        | `FDSN:PB_B207`  | FDSN Source Identifier station name                |                                   |\n| `IGS`         | `IGS:P14600USA` | IGS 9-character GNSS station naming scheme         |                                   |\n| `4CHARID`     | `4CHARID:P146`  | traditional 4-character GNSS station naming scheme | **DEPRECATED**: prefer `IGS` name |\n"},{"name":"station_edid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":26,"maxLength":26,"examples":["01FZDXP6X8BJRS2EA7PQEDHET3"],"format":"ulid","title":"ULID"},"maxItems":100,"description":"Station EDID(s)","default":[],"title":"Station Edid"},"description":"Station EDID(s)"},{"name":"network_name","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["PERM:NOTA Core"],"format":"dsname"},"maxItems":100,"description":"Network name(s)\n\nIt is recommended to specify fully-qualified network names including namespace.\n\n| **Namespace** | **Example**      | **Description**                                          |\n| ------------- | ---------------- | -------------------------------------------------------- |\n| `BSM`         | `BSM:NOTA`       | Borehole strainmeter network name                        |\n| `FDSN`        | `FDSN:PB`        | FDSN Source Identifier network name                      |\n| `PERM`        | `PERM:NOTA Core` | 'Permanent' network name from legacy Archive DB sets     |\n| `RTDB`        | `RTDB:PBO`       | 'Realtime' network name from legacy Realtime DB projects |\n| `SHAKE`       | `SHAKE:NOTA`     | ShakeAlert network name                                  |\n","default":[],"title":"Network Name"},"description":"Network name(s)\n\nIt is recommended to specify fully-qualified network names including namespace.\n\n| **Namespace** | **Example**      | **Description**                                          |\n| ------------- | ---------------- | -------------------------------------------------------- |\n| `BSM`         | `BSM:NOTA`       | Borehole strainmeter network name                        |\n| `FDSN`        | `FDSN:PB`        | FDSN Source Identifier network name                      |\n| `PERM`        | `PERM:NOTA Core` | 'Permanent' network name from legacy Archive DB sets     |\n| `RTDB`        | `RTDB:PBO`       | 'Realtime' network name from legacy Realtime DB projects |\n| `SHAKE`       | `SHAKE:NOTA`     | ShakeAlert network name                                  |\n"},{"name":"network_edid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":26,"maxLength":26,"examples":["01FZDXP6X8BJRS2EA7PQEDHET3"],"format":"ulid","title":"ULID"},"maxItems":100,"description":"Network EDID(s)","default":[],"title":"Network Edid"},"description":"Network EDID(s)"},{"name":"with_edid_only","in":"query","required":false,"schema":{"type":"boolean","description":"Overrides all other projection properties to only return the datasource EDID(s)","default":false,"title":"With Edid Only"},"description":"Overrides all other projection properties to only return the datasource EDID(s)"},{"name":"with_parents","in":"query","required":false,"schema":{"type":"boolean","description":"Include this datasource's parent(s) in the response model","default":false,"title":"With Parents"},"description":"Include this datasource's parent(s) in the response model"},{"name":"with_parent_edids","in":"query","required":false,"schema":{"type":"boolean","description":"Include this datasource's parents' EDIDs in the response model","default":false,"title":"With Parent Edids"},"description":"Include this datasource's parents' EDIDs in the response model"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Pagination size limit","default":50,"title":"Limit"},"description":"Pagination size limit"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Pagination start offset","default":0,"title":"Offset"},"description":"Pagination start offset"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/PublicPage_PublicStreamDatasource_"},{"$ref":"#/components/schemas/PublicPage_Annotated_ULID___UlidPydanticAnnotation__"}],"title":"Response Default-Find Streams"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError1"}}}}},"tags":["Discover"],"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/data-products/gnss/ephemeris":{"get":{"description":"Ensure that the **system** parameter is one of the supported constellations (G, R, E, S, J, C).\nThe order of the ephemeris values and their units can be found in the [RINEX 4.02 specification](https://files.igs.org/pub/data/format/rinex_4.02.pdf).\nThe **dtype** parameter is the data type of the ephemeris record (e.g. EPH),\nand the **mtype** parameter is the message type of the ephemeris record (e.g. LNAV).\n\nContent negotiation:\n- Set header 'Accept: application/json' to stream a JSON array of ephemeris objects.\n- Set header 'Accept: text/plain' to stream a RINEX navigation file.\n- Gzip compression is applied if the client sends 'Accept-Encoding: gzip'.\n\nRINEX version & multi-constellation behavior (when Accept is text/plain):\n- 'version=2' (default): RINEX 2.11, requires exactly one system and supports GPS (G) only.\n- 'version=3' or 'version=4': RINEX 3.05 / 4.02, supports multiple constellations in a single file.\n\nFilenames (via Content-Disposition attachment):\n- RINEX 2: short name 'brdcDDD0.YYn' (DDD=day-of-year, YY=2-digit year).\n- RINEX 3/4: long name 'BRDC00ORG_R_YYYYJJJhhmm_NNS_MN.rnx' where ORG is 'RINEX_ORG_CODE' (default IGS), timestamp is UTC start time, and NNS is the span (e.g., 01D). MN indicates multi-constellation nav.","operationId":"get_gnss_ephemeris","parameters":[{"description":"Response format. Use 'application/json' for JSON array, or 'text/plain' for RINEX navigation file.","in":"header","name":"accept","schema":{"default":"application/json","description":"Response format. Use 'application/json' for JSON array, or 'text/plain' for RINEX navigation file.","type":"string"}},{"description":"Start time (RFC3339), e.g. 2025-01-01T00:00:00Z.","example":"2025-01-01T00:00:00Z","explode":false,"in":"query","name":"start_datetime","required":true,"schema":{"description":"Start time (RFC3339), e.g. 2025-01-01T00:00:00Z.","examples":["2025-01-01T00:00:00Z"],"format":"date-time","type":"string"}},{"description":"End time (RFC3339), e.g. 2025-01-01T23:59:59Z.","example":"2025-01-01T23:59:59Z","explode":false,"in":"query","name":"end_datetime","required":true,"schema":{"description":"End time (RFC3339), e.g. 2025-01-01T23:59:59Z.","examples":["2025-01-01T23:59:59Z"],"format":"date-time","type":"string"}},{"description":"Constellations to include: G, R, E, J, C, I, S. Multiple allowed. For RINEX v2 output, exactly one system (G) is required.","explode":true,"in":"query","name":"system","schema":{"description":"Constellations to include: G, R, E, J, C, I, S. Multiple allowed. For RINEX v2 output, exactly one system (G) is required.","items":{"enum":["G","R","E","J","C","I","S"],"type":"string"},"type":"array","uniqueItems":true}},{"description":"The Satellites by number to include, such as '2', '8', or '15'.","example":[8],"explode":true,"in":"query","name":"satellite","schema":{"description":"The Satellites by number to include, such as '2', '8', or '15'.","examples":[[8]],"items":{"format":"int64","type":"integer"},"maximum":99,"minimum":1,"type":"array","uniqueItems":true}},{"description":"RINEX version for text/plain responses. 2 (default), 3, or 4. v2 supports GPS-only and single constellation; v3/v4 support multi-constellation.","explode":false,"in":"query","name":"version","schema":{"default":2,"description":"RINEX version for text/plain responses. 2 (default), 3, or 4. v2 supports GPS-only and single constellation; v3/v4 support multi-constellation.","format":"int64","maximum":4,"minimum":2,"type":"integer"}},{"description":"Ephemeris data type, e.g. EPH.","explode":false,"in":"query","name":"dtype","schema":{"description":"Ephemeris data type, e.g. EPH.","type":"string"}},{"description":"Ephemeris message type, e.g. LNAV, INAV, FNAV, FDMA, etc.","explode":false,"in":"query","name":"mtype","schema":{"description":"Ephemeris message type, e.g. LNAV, INAV, FNAV, FDMA, etc.","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/MyGenericEphemeris"},"type":"array"}},"text/plain":{"schema":{"title":"RINEX navigation file","type":"string"}}},"description":"OK"},"default":{"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}},"description":"Error"}},"summary":"Ephemeris","tags":["GNSS Products"],"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/data-products/gnss/ephemeris/positions":{"get":{"description":"Retrieve a time series of satellite positions, and optionally azimuth and elevation from a known position.\n\nSatellite positions are derived from broadcast ephemeris and provided in Earth-Centered, Earth-Fixed (ECEF) coordinates. These positions are not suitable for use in precise positioning, but they are sufficient for computing satellite elevation and azimuth from a known position or for visualization.\n\nCoordinates are provided in meters, azimuth and elevation in degrees.\n\nResults are returned as an Apache Arrow stream.\n\nAzimuth and Elevation:\n- Azimuth and elevation are only available when a latitude, longitude, and height are provided. An error is returned if these parameters are not provided when requesting azimuth or elevation.\n\nFiltering:\n- Azimuth and elevation are filtered by the `azimuth_filter` and `elevation_filter` parameters.\n","operationId":"get_gnss_ephemeris_positions","parameters":[{"description":"The satellite fields to return. The values include the following:\n\n- **x**: x coordinate (meters)\n\n- **y**: y coordinate (meters)\n\n- **z**: z coordinate (meters)\n\n- **elevation**: elevation (degrees)\n\n- **azimuth**: azimuth (degrees)\n\n- **clock**: satellite clock (seconds)\n\n- **relativity**: relativity correction (seconds)\n\nSatellite elevation and azimuth are only available when a latitude, longitude, and height are provided.","example":["x","y","z"],"explode":true,"in":"query","name":"field","schema":{"description":"The satellite fields to return. The values include the following:\n\n- **x**: x coordinate (meters)\n\n- **y**: y coordinate (meters)\n\n- **z**: z coordinate (meters)\n\n- **elevation**: elevation (degrees)\n\n- **azimuth**: azimuth (degrees)\n\n- **clock**: satellite clock (seconds)\n\n- **relativity**: relativity correction (seconds)\n\nSatellite elevation and azimuth are only available when a latitude, longitude, and height are provided.","examples":[["x","y","z"]],"items":{"enum":["x","y","z","elevation","azimuth","clock","relativity"],"type":"string"},"type":"array","uniqueItems":true}},{"description":"Start time (RFC3339), e.g. 2025-01-01T00:00:00Z.","example":"2025-01-01T00:00:00Z","explode":false,"in":"query","name":"start_datetime","required":true,"schema":{"description":"Start time (RFC3339), e.g. 2025-01-01T00:00:00Z.","examples":["2025-01-01T00:00:00Z"],"format":"date-time","type":"string"}},{"description":"End time (RFC3339), e.g. 2025-01-01T23:59:59Z.","example":"2025-01-01T23:59:59Z","explode":false,"in":"query","name":"end_datetime","required":true,"schema":{"description":"End time (RFC3339), e.g. 2025-01-01T23:59:59Z.","examples":["2025-01-01T23:59:59Z"],"format":"date-time","type":"string"}},{"description":"Sample period specified in milliseconds","example":15000,"explode":false,"in":"query","name":"sample_period","required":true,"schema":{"description":"Sample period specified in milliseconds","examples":[15000],"format":"int64","minimum":200,"type":"integer"}},{"description":"The GNSS Constellation to use: G, R, E, S, C.\n\n- **G**: GPS\n\n- **R**: GLONASS\n\n- **E**: Galileo\n\n- **S**: SBAS\n\n- **C**: Beidou\n\nSupport for other constellations will be added in the future.","explode":false,"in":"query","name":"system","schema":{"default":"G","description":"The GNSS Constellation to use: G, R, E, S, C.\n\n- **G**: GPS\n\n- **R**: GLONASS\n\n- **E**: Galileo\n\n- **S**: SBAS\n\n- **C**: Beidou\n\nSupport for other constellations will be added in the future.","enum":["G","R","E","S","C"],"type":"string"}},{"description":"The Satellites by number to include, such as '2', '8', or '15'.","example":[8],"explode":true,"in":"query","name":"satellite","schema":{"description":"The Satellites by number to include, such as '2', '8', or '15'.","examples":[[8]],"items":{"format":"int64","type":"integer"},"maximum":99,"minimum":1,"type":"array","uniqueItems":true}},{"description":"Latitude in degrees.","example":39.94949,"explode":false,"in":"query","name":"latitude","schema":{"description":"Latitude in degrees.","examples":[39.94949],"format":"double","maximum":90,"minimum":-90,"type":"number"}},{"description":"Longitude in degrees.","example":-105.19427,"explode":false,"in":"query","name":"longitude","schema":{"description":"Longitude in degrees.","examples":[-105.19427],"format":"double","maximum":180,"minimum":-180,"type":"number"}},{"description":"Height in meters.","example":1728.842,"explode":false,"in":"query","name":"height","schema":{"description":"Height in meters.","examples":[1728.842],"format":"double","type":"number"}},{"description":"Elevation filter in degrees.","example":"[30,60)","explode":false,"in":"query","name":"elevation_filter","schema":{"description":"Elevation filter in degrees.","examples":["[30,60)"],"type":"string"}},{"description":"Azimuth filter in degrees.","example":"[90,270)","explode":false,"in":"query","name":"azimuth_filter","schema":{"description":"Azimuth filter in degrees.","examples":["[90,270)"],"type":"string"}},{"description":"Allow partial results when ephemeris data is unavailable for some time periods. When false, returns an error if any requested time exceeds ephemeris validity window.","explode":false,"in":"query","name":"allow_partial","schema":{"default":true,"description":"Allow partial results when ephemeris data is unavailable for some time periods. When false, returns an error if any requested time exceeds ephemeris validity window.","type":"boolean"}},{"description":"Maximum hours beyond ephemeris Time of Ephemeris (ToE) to consider valid. Default is 4 hours (2 hours before and 2 hours after ToE).","explode":false,"in":"query","name":"max_validity_hours","schema":{"default":4,"description":"Maximum hours beyond ephemeris Time of Ephemeris (ToE) to consider valid. Default is 4 hours (2 hours before and 2 hours after ToE).","format":"int64","maximum":24,"minimum":1,"type":"integer"}}],"responses":{"200":{"description":"OK"},"default":{"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}},"description":"Error"}},"summary":"Ephemeris Positions","tags":["GNSS Products"],"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/data-products/gnss/positions/instantaneous/v2":{"get":{"description":"Returns GNSS position data in Apache Arrow format.","operationId":"get_gnss_inst_positions_v2","parameters":[{"description":"The start date or datetime in RFC3339 format such as 2008-09-15 or 2021-06-21T15:53:00+00:00.","explode":false,"in":"query","name":"start_datetime","required":true,"schema":{"description":"The start date or datetime in RFC3339 format such as 2008-09-15 or 2021-06-21T15:53:00+00:00.","examples":["2025-07-15T00:00:00Z"],"format":"date-time,date","type":"string"}},{"description":"The end date or datetime in RFC3339 format such as 2008-09-15 or 2021-06-21T15:53:00+00:00.","explode":false,"in":"query","name":"end_datetime","required":true,"schema":{"description":"The end date or datetime in RFC3339 format such as 2008-09-15 or 2021-06-21T15:53:00+00:00.","examples":["2025-07-15T00:10:00Z"],"format":"date-time,date","type":"string"}},{"description":"The GNSS Stream identifier EDID (26 character ULID).","explode":false,"in":"query","name":"stream_id","required":true,"schema":{"description":"The GNSS Stream identifier EDID (26 character ULID).","examples":["01H46MV50Q2ZDXNFG8ZWBF2PZY"],"format":"ulid","type":"string"}},{"description":"The position solution fields to return. This can be one or more of the enumerated values.\n\nDefaults to 'time, east, north, up, sigEE, sigNN, sigUU, qChannel, ingestLatency, processingDelay' if not specified.\n\nLatency fields are in milliseconds (ms): 'ingestLatency' (Station to Ingest), 'processingDelay' (Ingest to public bus).","explode":true,"in":"query","name":"field","schema":{"description":"The position solution fields to return. This can be one or more of the enumerated values.\n\nDefaults to 'time, east, north, up, sigEE, sigNN, sigUU, qChannel, ingestLatency, processingDelay' if not specified.\n\nLatency fields are in milliseconds (ms): 'ingestLatency' (Station to Ingest), 'processingDelay' (Ingest to public bus).","examples":[["east"]],"items":{"enum":["east","north","up","sigEE","sigNN","sigUU","qChannel","ingestLatency","processingDelay"],"type":"string"},"type":"array","uniqueItems":true}}],"responses":{"200":{"description":"OK"},"default":{"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}},"description":"Error"}},"summary":"Instantaneous Positions","tags":["GNSS Products"],"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/data-products/gnss/observations":{"get":{"description":"Returns GNSS observation data in either Apache Arrow or RINEX format. The desired format is specified via the `Accept` HTTP header. Use `application/vnd.apache.arrow.stream` for Arrow format. RINEX format is the default if the header is not provided.","operationId":"get_gnss_observations","parameters":[{"description":"The start date or datetime in RFC3339 format such as 2008-09-15 or 2021-06-21T15:53:00+00:00.","explode":false,"in":"query","name":"start_datetime","required":true,"schema":{"description":"The start date or datetime in RFC3339 format such as 2008-09-15 or 2021-06-21T15:53:00+00:00.","examples":["2025-07-15T00:00:00Z"],"format":"date-time,date","type":"string"}},{"description":"The end date or datetime in RFC3339 format such as 2008-09-15 or 2021-06-21T15:53:00+00:00.","explode":false,"in":"query","name":"end_datetime","required":true,"schema":{"description":"The end date or datetime in RFC3339 format such as 2008-09-15 or 2021-06-21T15:53:00+00:00.","examples":["2025-07-15T00:10:00Z"],"format":"date-time,date","type":"string"}},{"description":"The GNSS Session identifier EDID (26 character ULID).","explode":false,"in":"query","name":"session_id","required":true,"schema":{"description":"The GNSS Session identifier EDID (26 character ULID).","examples":["01H46MV5H9AXTN1PWJ4MWYS7HR"],"format":"ulid","type":"string"}},{"description":"The observation fields to return. The values include the following:\n\n**range**: code / psuedorange\n\n**phase**: carrier phase\n\n**doppler**: doppler shift\n\n**snr**: signal to noise ratio\n\n**slip**: carrier phase cycle slip occurred\n\n**flags**: event flags\n\n**fcn**: GLONASS frequency channel number.\n\nAll fields except doppler are included by default.\n\nIf any fields are specified, only those fields are returned.","explode":true,"in":"query","name":"field","schema":{"description":"The observation fields to return. The values include the following:\n\n**range**: code / psuedorange\n\n**phase**: carrier phase\n\n**doppler**: doppler shift\n\n**snr**: signal to noise ratio\n\n**slip**: carrier phase cycle slip occurred\n\n**flags**: event flags\n\n**fcn**: GLONASS frequency channel number.\n\nAll fields except doppler are included by default.\n\nIf any fields are specified, only those fields are returned.","examples":[["range"]],"items":{"enum":["range","phase","doppler","snr","slip","flags","fcn"],"type":"string"},"type":"array","uniqueItems":true}},{"description":"The GNSS Constellations to include, such as 'G', 'R', or 'E'.\n\n**G**: GPS\n\n**R**: GLONASS\n\n**E**: Galileo\n\n**J**: QZSS\n\n**C**: BeiDou\n\n**I**: NavIC\n\n**S**: SBAS","explode":true,"in":"query","name":"system","schema":{"description":"The GNSS Constellations to include, such as 'G', 'R', or 'E'.\n\n**G**: GPS\n\n**R**: GLONASS\n\n**E**: Galileo\n\n**J**: QZSS\n\n**C**: BeiDou\n\n**I**: NavIC\n\n**S**: SBAS","examples":[["G"]],"items":{"enum":["G","R","E","J","C","I","S"],"type":"string"},"type":"array","uniqueItems":true}},{"description":"The Satellites by number to include, such as '2', '8', or '15'.","explode":true,"in":"query","name":"satellite","schema":{"description":"The Satellites by number to include, such as '2', '8', or '15'.","examples":[[8]],"items":{"format":"int32","maximum":254,"minimum":1,"type":"integer"},"type":"array","uniqueItems":true}},{"description":"The GNSS observation codes to include (Band + Attribute two char code), such as '1C' or '2L'.","explode":true,"in":"query","name":"obs_code","schema":{"description":"The GNSS observation codes to include (Band + Attribute two char code), such as '1C' or '2L'.","examples":[["1C"]],"items":{"type":"string"},"type":"array","uniqueItems":true}},{"description":"The version of RINEX to return. Not applicable to arrow requests.","explode":false,"in":"query","name":"version","schema":{"default":4,"description":"The version of RINEX to return. Not applicable to arrow requests.","examples":[4],"format":"int32","maximum":4,"minimum":2,"type":"integer"}},{"description":"The content type to return. If application/vnd.apache.arrow.stream is specified, an Apache arrow stream is returned. Otherwise, a gzipped RINEX is returned.","in":"header","name":"accept","schema":{"description":"The content type to return. If application/vnd.apache.arrow.stream is specified, an Apache arrow stream is returned. Otherwise, a gzipped RINEX is returned.","examples":["application/vnd.apache.arrow.stream"],"type":"string"}}],"responses":{"200":{"description":"OK"},"default":{"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ErrorModel"}}},"description":"Error"}},"summary":"Observations","tags":["GNSS Products"],"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/data-products/gnss/positions/instantaneous":{"get":{"summary":"Instantaneous Positions (Deprecated)","description":"Query the real-time PPP data for GNSS stations.","operationId":"get_gnss_inst_positions","parameters":[{"name":"stream_id","in":"query","required":true,"schema":{"type":"string","description":"The GNSS PPP data identifier. Either a GEOSNCL and SN ID (e.g: `GEOSNCL:P548.CI.LY_.20`) or EDID (26 Character ULID, e.g: `01H46MV50Q2ZDXNFG8ZWBF2PZY`).","title":"Stream Id"},"description":"The GNSS PPP data identifier. Either a GEOSNCL and SN ID (e.g: `GEOSNCL:P548.CI.LY_.20`) or EDID (26 Character ULID, e.g: `01H46MV50Q2ZDXNFG8ZWBF2PZY`).","example":"GEOSNCL:P548.CI.LY_.20"},{"name":"start_datetime","in":"query","required":true,"schema":{"type":"string","format":"date-time","title":"End Datetime"},"description":"The start date or datetime represented as a string in ISO 8601 format like `2008-09-15` or `2021-06-21T15:53:00+00:00`.","example":"2024-06-01T00:00:00+00:00"},{"name":"end_datetime","in":"query","required":true,"schema":{"type":"string","format":"date-time","title":"End Datetime"},"description":"The end date or datetime represented as a string in ISO 8601 format like `2008-09-15` or `2021-06-21T15:53:00+00:00`.","example":"2024-06-01T00:10:00+00:00"},{"name":"Accept","in":"header","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContentType"},"description":"Desired response format. See `Accept` Header [MDN docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept).\n\n> **NOTE:** When looking at this endpoint in the web documentation, the `Accept` header is controlled by\n> the dropdown in the `Response` section.\n","default":["application/json"],"title":"Accept"},"description":"Desired response format. See `Accept` Header [MDN docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept).\n\n> **NOTE:** When looking at this endpoint in the web documentation, the `Accept` header is controlled by\n> the dropdown in the `Response` section.\n"},{"name":"Accept-Encoding","in":"header","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContentEncoding"},"description":"Desired response compression. See `Accept-Encoding` Header [MDN docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding).\n\nUse `identity` to request no modification or compression.\n\nThe following table illustrates compatibility between `Content-Encoding` and `Content-Type`:\n\n\n|Content-Type|br|gzip|identity|lz4|snappy|zstd|\n|-|-|-|-|-|-|-|\n|`application/json`|❌|✅|✅|❌|❌|❌|\n|`application/json+compact-geojson`|❌|✅|✅|❌|❌|❌|\n|`application/json+series`|❌|✅|✅|❌|❌|❌|\n|`application/vnd.apache.arrow.file`|❌|❌|✅|✅|❌|✅|\n|`application/vnd.apache.parquet`|✅|✅|✅|✅|✅|✅|\n|`text/csv`|❌|✅|✅|❌|❌|❌|\n\n> **NOTE:** When looking at this endpoint in the web documentation, the `Accept-Encoding` header is overridden\n> by the documentation.\n","default":["*"],"title":"Accept-Encoding"},"description":"Desired response compression. See `Accept-Encoding` Header [MDN docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding).\n\nUse `identity` to request no modification or compression.\n\nThe following table illustrates compatibility between `Content-Encoding` and `Content-Type`:\n\n\n|Content-Type|br|gzip|identity|lz4|snappy|zstd|\n|-|-|-|-|-|-|-|\n|`application/json`|❌|✅|✅|❌|❌|❌|\n|`application/json+compact-geojson`|❌|✅|✅|❌|❌|❌|\n|`application/json+series`|❌|✅|✅|❌|❌|❌|\n|`application/vnd.apache.arrow.file`|❌|❌|✅|✅|❌|✅|\n|`application/vnd.apache.parquet`|✅|✅|✅|✅|✅|✅|\n|`text/csv`|❌|✅|✅|❌|❌|❌|\n\n> **NOTE:** When looking at this endpoint in the web documentation, the `Accept-Encoding` header is overridden\n> by the documentation.\n"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/InstPosition"},"type":"array"}},"application/json+series":{"schema":{"$ref":"#/components/schemas/InstPositionSeries"}},"application/json+compact-geojson":{"schema":{"items":{"$ref":"#/components/schemas/CompactGeoJSON"},"type":"array"},"example":[{"time":0,"qChannel":0,"coor":[0,0,0],"err":[0,0,0]}]},"text/csv":{"example":"time,east,north,up,sigEE,sigNN,sigUU,qChannel\n0,0,0,0,0,0,0,0"},"application/vnd.apache.parquet":{"description":"Get response as an [Apache Parquet](https://parquet.apache.org/) file"},"application/vnd.apache.arrow.file":{"description":"Get response as an [Apache Arrow IPC](https://arrow.apache.org/) file"}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError2"}}}}},"deprecated":true,"tags":["GNSS Products"],"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/data-products/gnss/positions/instantaneous/manifest":{"get":{"summary":"Instantaneous Positions Manifest (Deprecated)","description":"Get a list of relative URLs for querying PPP data. The response will include a list relative URL(s) that use the PPP EDID (26 character ULID).","operationId":"get_gnss_inst_positions_manifest","parameters":[{"name":"interval_limit","in":"query","required":false,"schema":{"type":"integer","maximum":24,"exclusiveMinimum":0,"description":"The time window (in hours) to chunk the list of relative URLs. Defaults to 24 (24 hours).","default":24,"title":"Interval Limit"},"description":"The time window (in hours) to chunk the list of relative URLs. Defaults to 24 (24 hours).","example":4},{"name":"stream_id","in":"query","required":true,"schema":{"type":"string","description":"The GNSS PPP data identifier. Either a GEOSNCL and SN ID (e.g: `GEOSNCL:P548.CI.LY_.20`) or EDID (26 Character ULID, e.g: `01H46MV50Q2ZDXNFG8ZWBF2PZY`).","title":"Stream Id"},"description":"The GNSS PPP data identifier. Either a GEOSNCL and SN ID (e.g: `GEOSNCL:P548.CI.LY_.20`) or EDID (26 Character ULID, e.g: `01H46MV50Q2ZDXNFG8ZWBF2PZY`).","example":"GEOSNCL:P548.CI.LY_.20"},{"name":"start_datetime","in":"query","required":true,"schema":{"type":"string","format":"date-time","title":"End Datetime"},"description":"The start date or datetime represented as a string in ISO 8601 format like `2008-09-15` or `2021-06-21T15:53:00+00:00`.","example":"2024-06-01T00:00:00+00:00"},{"name":"end_datetime","in":"query","required":true,"schema":{"type":"string","format":"date-time","title":"End Datetime"},"description":"The end date or datetime represented as a string in ISO 8601 format like `2008-09-15` or `2021-06-21T15:53:00+00:00`.","example":"2024-06-01T00:10:00+00:00"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamDataSplitResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError2"}}}}},"deprecated":true,"tags":["GNSS Products"],"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/discover/gnss/radial":{"get":{"tags":["Discover"],"summary":"GNSS Station Radial Search","description":"Find stations or streams within a certain distance (in km) from a given center point (latitude and longitude in decimal degrees).\n\nUses the [Haversine formula](https://en.wikipedia.org/wiki/Haversine_formula) to compute great-circle distance.\n\nUsage notes:\n- The `with_information` query parameter controls the shape of the reponse. Either of the following is returned:\n    - a list of the EarthScope Datasource IDs (EDIDs) of the stations/streams\n    - a list of more complete information about stations/streams including names and locations\n- `network` is used to filter both stations and streams, though the actual network name is not returned in the results.\n- `facility` and `stream_type` are both used to filter stream results only, and are ignored if `tier` is set to `station`.\n\nThis endpoint will temporarily be available for public access while we develop other endpoints.","operationId":"find_gnss_stations_radial","parameters":[{"description":"Latitude in decimal degrees","required":true,"schema":{"title":"Latitude","maximum":90,"minimum":-90,"type":"number","description":"Latitude in decimal degrees"},"example":35.1,"name":"latitude","in":"query"},{"description":"Longitude in decimal degrees","required":true,"schema":{"title":"Longitude","maximum":180,"minimum":-180,"type":"number","description":"Longitude in decimal degrees"},"example":-118.5,"name":"longitude","in":"query"},{"description":"Search radius distance in km","required":true,"schema":{"title":"Distance","exclusiveMinimum":0,"type":"number","description":"Search radius distance in km"},"example":50,"name":"distance","in":"query"},{"description":"Whether to search for stations or streams.","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/ReferencePositionTier"}],"description":"Whether to search for stations or streams.","default":"station"},"name":"tier","in":"query"},{"description":"Network name(s). Can contain leading/trailing wildcards. Used to filter both stations and streams. Omit to search all networks.\n        \nShakeAlert uses the network namespace `SHAKE:`, with valid network names being `SHAKE:ShakeAlert` (all stations in ShakeAlert), `SHAKE:IGS`, `SHAKE:PNGA`, `SHAKE:WCDA`, `SHAKE:ORGN`, `SHAKE:NOTA`, `SHAKE:CRTN`, `SHAKE:NCGN`, `SHAKE:BARD`, and `SHAKE:WSRN`.\n","required":false,"schema":{"title":"Network","type":"array","items":{"type":"string"},"description":"Network name(s). Can contain leading/trailing wildcards. Used to filter both stations and streams. Omit to search all networks.\n        \nShakeAlert uses the network namespace `SHAKE:`, with valid network names being `SHAKE:ShakeAlert` (all stations in ShakeAlert), `SHAKE:IGS`, `SHAKE:PNGA`, `SHAKE:WCDA`, `SHAKE:ORGN`, `SHAKE:NOTA`, `SHAKE:CRTN`, `SHAKE:NCGN`, `SHAKE:BARD`, and `SHAKE:WSRN`.\n","default":[]},"name":"network","in":"query"},{"description":"Filter stream results by type. Defaults to all stream types. This only applies to streams.","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/StreamType1"}],"description":"Filter stream results by type. Defaults to all stream types. This only applies to streams."},"name":"stream_type","in":"query"},{"description":"Filter stream results based on facility, i.e. where the position was processed, not where the raw stream originated. Defaults to all facilities. Only applies to streams.","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/Facility1"}],"description":"Filter stream results based on facility, i.e. where the position was processed, not where the raw stream originated. Defaults to all facilities. Only applies to streams."},"name":"facility","in":"query"},{"description":"Include station/stream name(s) and location). Defaults to `false`, and only returns EarthScope Datasource IDs (EDIDs).","required":false,"schema":{"title":"With Information","type":"boolean","description":"Include station/stream name(s) and location). Defaults to `false`, and only returns EarthScope Datasource IDs (EDIDs).","default":false},"name":"with_information","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Radial Search Streams Refpos Search Radial Get","anyOf":[{"type":"array","items":{"type":"string"}},{"type":"array","items":{"$ref":"#/components/schemas/StreamInfo"}},{"type":"array","items":{"$ref":"#/components/schemas/StationInfo"}}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError3"}}}}},"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/user/credentials/aws/{role}":{"get":{"tags":["User"],"summary":"AWS Credentials","description":"Get temporary AWS credentials that can interact directly with EarthScope's AWS resources (e.g. S3).\n\nNOTE: direct access to datasets in S3 is restricted to the `us-east-2` region.\n\nAvailable roles:\n\n| **Role**      | **Description**                                                                |\n| ------------- | ------------------------------------------------------------------------------ |\n| `s3-dropoff`  | Grants direct access to EarthScope's dropoff S3 bucket                         |\n| `s3-miniseed` | Grants direct access to EarthScope's miniSEED archive in S3                    |\n| `s3-seafloor` | Grants direct access to EarthScope's experiemental seafloor geodesy data in S3 |","operationId":"get_aws_credentials","parameters":[{"description":"The IAM Role to retrieve credentials for. This controls which of EarthScope's AWS resources you can utilize.","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/AwsRole"}],"description":"The IAM Role to retrieve credentials for. This controls which of EarthScope's AWS resources you can utilize."},"example":"s3-miniseed","name":"role","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwsTemporaryCredentials"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError4"}}}}},"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/user/credentials/basic/fdsnws":{"get":{"tags":["User"],"summary":"FDSNWS Credentials","description":"\nRetrieve FDSNWS (FDSN Web Services) basic HTTP credentials associated with your EarthScope account.\n\nBasic HTTP authentication should be considered deprecated. New EarthScope APIs use oauth2.\nHowever, a number of standard and legacy FDSNWS access points continue to use basic HTTP authentication\nuntil new standards are adopted.\n\n","operationId":"get_fdsnws_basic_credentials","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserBasicCreds"}}}}},"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/user/credentials/basic/ntrip":{"get":{"tags":["User"],"summary":"NTRIP Credentials","description":"\nRetrieve basic HTTP NTRIP credentials associated with your EarthScope account.\n\nBasic HTTP authentication should be considered deprecated. New EarthScope APIs use oauth2.\nHowever, NTRIP continues to use basic HTTP authentication until new standards are adopted.\n\nNTRIP credentials are tied to a specific NTRIP license.\n","operationId":"get_ntrip_basic_credentials","parameters":[{"description":"\nThe application keys to retrieve credentials for. If not provided, all credentials will be returned.\n\nThe application key is the NTRIP license ID.\n","required":false,"schema":{"title":"License Ids","type":"array","items":{"type":"string"},"description":"\nThe application keys to retrieve credentials for. If not provided, all credentials will be returned.\n\nThe application key is the NTRIP license ID.\n"},"name":"license_ids","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Ntrip Basic Credentials User Basic Credentials Ntrip Get","type":"array","items":{"$ref":"#/components/schemas/UserBasicCreds"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError4"}}}}},"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}},"/user/profile":{"get":{"tags":["User"],"summary":"User Profile","description":"Retrieve your EarthScope user profile","operationId":"get_user_profile","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}},"security":[{"Oauth2Implicit":[]},{"HTTPBearer":[]}]}}},"components":{"schemas":{"Category":{"type":"string","enum":["miniseed","assembled"],"title":"Category","description":"\"\nEnum for dropoff categories. Values are stored in the database and returned by the API,\nso they should be treated as immutable."},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Item":{"properties":{"path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Path","default":"UNKNOWN_PATH"},"received_at":{"type":"string","format":"date-time","title":"Received At"},"size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Size","default":0},"hash":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hash","default":"UNKNOWN_HASH"},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status","default":"UNKNOWN_STATUS"},"status_message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status Message","default":""},"structured_messages":{"items":{"type":"string"},"type":"array","title":"Structured Messages"},"structured_messages_were_truncated":{"type":"boolean","title":"Structured Messages Were Truncated","default":false},"execution_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Execution Id","default":""}},"type":"object","required":["received_at"],"title":"Item","description":"Class representing a dropoff item in the API response.\nThis is a more limited view than AdminItem, which is used for internal/admin purposes.\n\nAttributes:\n    path (str): The S3 object key of the dropoff file.\n    created_at (AwareDatetime): The timestamp when the dropoff was received, serialized as \"received_at\" in the API response.\n    size (int): The size of the dropoff file in bytes.\n    sha256 (str): The SHA-256 hash of the dropoff file, serialized as \"hash\" in the API response.\n    status (str): The current status of the dropoff (e.g., \"pending\", \"processed\", \"error\").\n    status_message (str | None): An optional message providing additional details about the status.\n    structured_messages (List[str]): A list of structured messages associated with the dropoff.\n    structured_messages_were_truncated (bool): Indicates whether the structured_messages list was truncated due to length constraints.\n    execution_id (str | None): An optional identifier for the processing execution associated with this dropoff."},"PageDropoffItems":{"properties":{"has_next":{"type":"boolean","title":"Has Next"},"offset":{"type":"integer","title":"Offset"},"limit":{"type":"integer","title":"Limit"},"items":{"items":{"$ref":"#/components/schemas/Item"},"type":"array","title":"Items"}},"type":"object","required":["has_next","offset","limit","items"],"title":"PageDropoffItems","description":"Class representing a paginated response of dropoff items in the API."},"Status":{"type":"string","enum":["RECEIVED","VALIDATING","VALIDATED","AUTHORIZING","AUTHORIZED","ACCEPTED","COPYING","COPIED","FAILED","INTERNAL_ERROR"],"title":"Status","description":"Enum for dropoff status values. Values are stored in the database and returned by the API,\nso they should be treated as immutable."},"StatusCountItem":{"properties":{"status":{"type":"string","title":"Status"},"count":{"type":"integer","title":"Count"}},"type":"object","required":["status","count"],"title":"StatusCountItem","description":"Class representing a status count item in the API response.\n\nAttributes:\n    status (str): The status of the dropoff items.\n    count (int): The count of dropoff items with the given status."},"StatusSummaryResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/StatusCountItem"},"type":"array","title":"Items"}},"type":"object","required":["items"],"title":"StatusSummaryResponse","description":"Class representing a response of status count items in the API."},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"Facility":{"type":"string","enum":["unknown","earthscope","cwu","ucb","ucsb","caltech","usgs_menlo_park","usgs_pasadena","usgs_csrc","sgc","csn","igepn","ineter","ncgn"],"title":"Facility"},"HTTPValidationError1":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError1"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"NetworkNameMap":{"properties":{"BSM":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Bsm","description":"Borehole strainmeter network name","examples":["NOTA"]},"FDSN":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fdsn","description":"FDSN Source Identifier network name","examples":["PB"]},"PERM":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Perm","description":"'Permanent' network name from legacy Archive DB sets","examples":["NOTA Core"]},"RTDB":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Rtdb","description":"'Realtime' network name from legacy Realtime DB projects","examples":["PBO"]},"SHAKE":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Shake","description":"ShakeAlert network name","examples":["NOTA"]}},"type":"object","title":"NetworkNameMap","description":"Contains names for a Network represented as a mapping from `namespace -> name`.\n\nMost of the time, only one of the names will be present as there is not a ton of\noverlap across network namespaces."},"PublicNetworkDatasource":{"properties":{"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of this datasource","example":"My super awesome datasource!","csv_type":"String"},"edid":{"type":"string","maxLength":26,"minLength":26,"format":"ulid","title":"ULID","description":"EarthScope Datasource ID (EDID)","examples":["01FZDXP6X8BJRS2EA7PQEDHET3"]},"names":{"$ref":"#/components/schemas/NetworkNameMap","readOnly":true}},"type":"object","required":["edid","names"],"title":"NetworkDatasource","description":"A network datasource.\n\nActs as a parent for a group of stations. All stations within a network have unique names."},"PublicPage_Annotated_ULID___UlidPydanticAnnotation__":{"properties":{"has_next":{"type":"boolean","title":"Has Next","description":"True if another page follows this one"},"offset":{"type":"integer","minimum":0,"title":"Offset","description":"Pagination start offset"},"limit":{"type":"integer","maximum":1000,"minimum":1,"title":"Limit","description":"Pagination size limit"},"items":{"items":{"type":"string","maxLength":26,"minLength":26,"format":"ulid","title":"ULID","examples":["01FZDXP6X8BJRS2EA7PQEDHET3"]},"type":"array","title":"Items","description":"Items in this page"}},"type":"object","required":["has_next","offset","limit","items"],"title":"Page[ULID]"},"PublicPage_PublicNetworkDatasource_":{"properties":{"has_next":{"type":"boolean","title":"Has Next","description":"True if another page follows this one"},"offset":{"type":"integer","minimum":0,"title":"Offset","description":"Pagination start offset"},"limit":{"type":"integer","maximum":1000,"minimum":1,"title":"Limit","description":"Pagination size limit"},"items":{"items":{"$ref":"#/components/schemas/PublicNetworkDatasource"},"type":"array","title":"Items","description":"Items in this page"}},"type":"object","required":["has_next","offset","limit","items"],"title":"Page[NetworkDatasource]"},"PublicPage_PublicSessionDatasource_":{"properties":{"has_next":{"type":"boolean","title":"Has Next","description":"True if another page follows this one"},"offset":{"type":"integer","minimum":0,"title":"Offset","description":"Pagination start offset"},"limit":{"type":"integer","maximum":1000,"minimum":1,"title":"Limit","description":"Pagination size limit"},"items":{"items":{"$ref":"#/components/schemas/PublicSessionDatasource"},"type":"array","title":"Items","description":"Items in this page"}},"type":"object","required":["has_next","offset","limit","items"],"title":"Page[SessionDatasource]"},"PublicPage_PublicStationDatasource_":{"properties":{"has_next":{"type":"boolean","title":"Has Next","description":"True if another page follows this one"},"offset":{"type":"integer","minimum":0,"title":"Offset","description":"Pagination start offset"},"limit":{"type":"integer","maximum":1000,"minimum":1,"title":"Limit","description":"Pagination size limit"},"items":{"items":{"$ref":"#/components/schemas/PublicStationDatasource"},"type":"array","title":"Items","description":"Items in this page"}},"type":"object","required":["has_next","offset","limit","items"],"title":"Page[StationDatasource]"},"PublicPage_PublicStreamDatasource_":{"properties":{"has_next":{"type":"boolean","title":"Has Next","description":"True if another page follows this one"},"offset":{"type":"integer","minimum":0,"title":"Offset","description":"Pagination start offset"},"limit":{"type":"integer","maximum":1000,"minimum":1,"title":"Limit","description":"Pagination size limit"},"items":{"items":{"$ref":"#/components/schemas/PublicStreamDatasource"},"type":"array","title":"Items","description":"Items in this page"}},"type":"object","required":["has_next","offset","limit","items"],"title":"Page[StreamDatasource]"},"PublicSessionDatasource":{"properties":{"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of this datasource","example":"My super awesome datasource!","csv_type":"String"},"edid":{"type":"string","maxLength":26,"minLength":26,"format":"ulid","title":"ULID","description":"EarthScope Datasource ID (EDID)","examples":["01FZDXP6X8BJRS2EA7PQEDHET3"]},"station":{"anyOf":[{"$ref":"#/components/schemas/PublicStationDatasource"},{"type":"null"}],"description":"Parent station datasource"},"station_edid":{"anyOf":[{"type":"string","maxLength":26,"minLength":26,"format":"ulid","title":"ULID","examples":["01FZDXP6X8BJRS2EA7PQEDHET3"]},{"type":"null"}],"title":"Station Edid","description":"Parent station EDID"},"sample_interval":{"$ref":"#/components/schemas/SessionSampleInterval","csv_type":"Int"},"roll":{"$ref":"#/components/schemas/SessionRollPeriod","description":"Session file roll period (in seconds)","csv_type":"Int"},"names":{"$ref":"#/components/schemas/SessionNameMap","readOnly":true}},"type":"object","required":["edid","sample_interval","roll","names"],"title":"SessionDatasource","description":"A session datasource.\n\nActs as a unique identifier for a particular recording configuration on a station's receiver."},"PublicStationDatasource":{"properties":{"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of this datasource","example":"My super awesome datasource!","csv_type":"String"},"edid":{"type":"string","maxLength":26,"minLength":26,"format":"ulid","title":"ULID","description":"EarthScope Datasource ID (EDID)","examples":["01FZDXP6X8BJRS2EA7PQEDHET3"]},"networks":{"anyOf":[{"items":{"$ref":"#/components/schemas/PublicNetworkDatasource"},"type":"array"},{"type":"null"}],"title":"Networks","description":"Parent network datasources"},"network_edids":{"anyOf":[{"items":{"type":"string","maxLength":26,"minLength":26,"format":"ulid","title":"ULID","examples":["01FZDXP6X8BJRS2EA7PQEDHET3"]},"type":"array"},{"type":"null"}],"title":"Network Edids","description":"Parent network EDIDs"},"names":{"$ref":"#/components/schemas/StationNameMap","readOnly":true}},"type":"object","required":["edid","names"],"title":"StationDatasource","description":"A station datasource."},"PublicStreamDatasource":{"properties":{"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of this datasource","example":"My super awesome datasource!","csv_type":"String"},"edid":{"type":"string","maxLength":26,"minLength":26,"format":"ulid","title":"ULID","description":"EarthScope Datasource ID (EDID)","examples":["01FZDXP6X8BJRS2EA7PQEDHET3"]},"station":{"anyOf":[{"$ref":"#/components/schemas/PublicStationDatasource"},{"type":"null"}],"description":"Parent station datasource"},"station_edid":{"anyOf":[{"type":"string","maxLength":26,"minLength":26,"format":"ulid","title":"ULID","examples":["01FZDXP6X8BJRS2EA7PQEDHET3"]},{"type":"null"}],"title":"Station Edid","description":"Parent station EDID"},"stream_type":{"$ref":"#/components/schemas/StreamType","description":"What type of stream is this?","csv_type":"String"},"facility":{"$ref":"#/components/schemas/Facility","description":"From which facility did this stream originate?","default":"unknown","csv_type":"String"},"software":{"$ref":"#/components/schemas/StreamSoftware","description":"What software created this stream?","csv_type":"String"},"label":{"type":"string","title":"Label","description":"Free-form string label for the stream","csv_type":"String"},"sample_interval":{"$ref":"#/components/schemas/StreamSampleInterval","description":"Stream sample interval (in milliseconds)","csv_type":"Int"},"names":{"$ref":"#/components/schemas/StreamNameMap","readOnly":true}},"type":"object","required":["edid","stream_type","software","label","sample_interval","names"],"title":"StreamDatasource","description":"A stream datasource.\n\nActs as a unique identifier for a particular timeseries coming from a station."},"SessionNameMap":{"properties":{"DATAFLOW":{"type":"string","title":"Dataflow","description":"GNSS Data-Flow namespace","examples":["A","M"]}},"type":"object","required":["DATAFLOW"],"title":"SessionNameMap","description":"Contains names for a Session represented as a mapping from `namespace -> name`."},"SessionRollPeriod":{"type":"integer","enum":[86400,21600,3600,1800,900],"title":"SessionRollPeriod","description":"Session file role period (in seconds)"},"SessionSampleInterval":{"type":"integer","enum":[600000,300000,120000,60000,30000,15000,10000,5000,3000,2000,1000,200,100,50],"title":"SessionSampleInterval","description":"Session sample interval (in milliseconds)"},"StationNameMap":{"properties":{"FDSN":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fdsn","description":"FDSN Source Identifier station name","examples":["PB_B207"]},"IGS":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Igs","description":"IGS GNSS 9-character station name","examples":["P14600USA"]},"4CHARID":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"4Charid","description":"Traditional 4-character station name","deprecated":true,"examples":["P146"]}},"type":"object","title":"StationNameMap","description":"Contains names for a Station represented as a mapping from `namespace -> name`.\n\n- GNSS stations always have a 9-character name with namespace `IGS`. They\nadditionally have a 4-character name with namespace `4CHARID` when the `IGS` name\nis for monument/receiver `00`.\n\n- Borehole strainmeter stations always have a name with namespace `FDSN`. They may\nadditionally contain a name with namespace `4CHARID`.\n\n- Seismic stations normally have a single name in namespace `FDSN` which is the\n[FDSN Source Identifier](https://docs.fdsn.org/projects/source-identifiers/en/v1.0/index.html)."},"StreamNameMap":{"properties":{"GEOSNCL":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Geosncl","description":"ShakeAlert GNSS position stream name","examples":["P146.PB.LY_.00"]},"SN":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sn","description":"EarthScope descriptive stream name","examples":["P146.RAW.EARTHSCOPE.1HZ"]}},"type":"object","title":"StreamNameMap","description":"Contains names for a Stream represented as a mapping from `namespace -> name`.\n\n- Streams should always have a descriptive name in namespace `SN`.\n\n- Streams used in ShakeAlert additionally have a name in namespace `GEOSNCL`."},"StreamSampleInterval":{"type":"integer","enum":[30000,15000,1000,200,100,50,20,10],"title":"StreamSampleInterval","description":"Session sample interval (in milliseconds)"},"StreamSoftware":{"type":"string","enum":["fastlane","pivot_rtx","rtnet","septentrio_onboard","netr9_onboard","gseisrt","receiver","ubtr","gnsstools","jpl_ppp"],"title":"StreamSoftware"},"StreamType":{"type":"string","enum":["gnss_raw","gnss_ppp","gnss_tdcp"],"title":"StreamType"},"ValidationError1":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"ErrorDetail":{"additionalProperties":false,"properties":{"location":{"description":"Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'","type":"string"},"message":{"description":"Error message text","type":"string"},"value":{"description":"The value at the given location"}},"type":"object"},"ErrorModel":{"additionalProperties":false,"properties":{"$schema":{"description":"A URL to the JSON Schema for this object.","examples":["https://example.com/schemas/ErrorModel.json"],"format":"uri","readOnly":true,"type":"string"},"detail":{"description":"A human-readable explanation specific to this occurrence of the problem.","examples":["Property foo is required but is missing."],"type":"string"},"errors":{"description":"Optional list of individual error details","items":{"$ref":"#/components/schemas/ErrorDetail"},"type":"array"},"instance":{"description":"A URI reference that identifies the specific occurrence of the problem.","examples":["https://example.com/error-log/abc123"],"format":"uri","type":"string"},"status":{"description":"HTTP status code","examples":[400],"format":"int64","type":"integer"},"title":{"description":"A short, human-readable summary of the problem type. This value should not change between occurrences of the error.","examples":["Bad Request"],"type":"string"},"type":{"default":"about:blank","description":"A URI reference to human-readable documentation for the error.","examples":["https://example.com/errors/example"],"format":"uri","type":"string"}},"type":"object"},"MyGenericEphemeris":{"additionalProperties":false,"properties":{"dtype":{"description":"Ephemeris data type","type":"string"},"mtype":{"description":"Ephemeris message type","type":"string"},"sto_fields":{"$ref":"#/components/schemas/STOFields","description":"Ephemeris STO fields"},"stype":{"description":"Ephemeris sub type","type":"string"},"svid":{"description":"Satellite ID","format":"int64","type":"integer"},"system":{"description":"GNSS System","format":"int64","type":"integer"},"toc":{"description":"Ephemeris time of clock","format":"date-time","type":"string"},"values":{"description":"Ephemeris values","items":{"format":"double","type":"number"},"type":"array"}},"required":["toc","system","svid","dtype","mtype","values"],"type":"object"},"STOFields":{"additionalProperties":false,"properties":{"offset_label":{"type":"string"},"sbas_id":{"type":"string"},"tot":{"format":"date-time","type":"string"},"utc_id":{"type":"string"}},"required":["tot","offset_label","sbas_id","utc_id"],"type":"object"},"ContentEncoding":{"type":"string","enum":["gzip","zstd","snappy","br","lz4","identity","*"],"title":"ContentEncoding"},"ContentType":{"type":"string","enum":["application/json","application/json+series","application/json+compact-geojson","text/csv","application/vnd.apache.parquet","application/vnd.apache.arrow.file","*/*"],"title":"ContentType"},"HTTPValidationError2":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError2"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"StreamDataSplitResponse":{"properties":{"data":{"items":{"type":"string"},"type":"array","title":"Data","description":"A list of relative urls with defined query parameters to query the PPP data."}},"type":"object","required":["data"],"title":"StreamDataSplitResponse"},"ValidationError2":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"CompactGeoJSON":{"properties":{"time":{"description":"The time of the observation, in millisconds since 1970.","title":"Time","type":"integer"},"qChannel":{"description":"\nThe integer encoded ShakeAlert quality metric defined as:\n- `nsat` = number of satellites used in the solution\n- `PDOP` = position dilution of precision, measures the quality of the satellite geometry\n- `fixtyp` = the type of the position solution, such as global network PPP, bias fixed or free (`Chi2` - in the case of Fastlane)\n        \n`qChannel = 10000 * int(10*PDOP) + 100*nsat + fixtyp`\n","title":"Qchannel","type":"integer"},"coor":{"description":"The displacement from the reference position, in meters - `[east,north,up]`.","items":{"type":"number"},"title":"Coor","type":"array"},"err":{"description":"The standard deviation for the east, north, up components, in meters - `[east,north,up]`.","items":{"type":"number"},"title":"Err","type":"array"}},"required":["time","qChannel","coor","err"],"title":"CompactGeoJSON","type":"object"},"InstPosition":{"properties":{"time":{"description":"The time of the observation, in millisconds since 1970.","title":"Time","type":"integer"},"east":{"description":"The east displacement from the reference position, in meters.","title":"East","type":"number"},"north":{"description":"The north displacement from the reference position, in meters.","title":"North","type":"number"},"up":{"description":"The up displacement from the reference position, in meters.","title":"Up","type":"number"},"sigEE":{"description":"The standard deviation for the east component, in meters.","title":"Sigee","type":"number"},"sigNN":{"description":"The standard deviation for the north component, in meters.","title":"Signn","type":"number"},"sigUU":{"description":"The standard deviation for the up component, in meters.","title":"Siguu","type":"number"},"qChannel":{"description":"\nThe integer encoded ShakeAlert quality metric defined as:\n- `nsat` = number of satellites used in the solution\n- `PDOP` = position dilution of p
[...]
